<!DOCTYPE html>
<html>
<head>
    <title>Health Insurance Claim System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">HealthCare Insurance</div>

    <div class="nav-links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>

<div class="container">

    <div class="card hero">

        <h1>Health Insurance Claim System</h1>

        <p>
            A simple and secure platform to manage
            health insurance claims efficiently.
        </p>

        <a class="btn" href="/register">Get Started</a>
        <a class="btn" href="/login">Login</a>

    </div>

</div>

<div class="footer">
    Health Insurance Claim System © 2026
</div>

</body>
</html>